.popup__input_dark{
  border-bottom: 2px solid #CCCCCC;
  background: black;
  outline: none;
  color: white;
}

.popup__input_dark::placeholder {
  color: #CCCCCC;
  font-size: 14px;
  line-height: 1.21;
}
