.element__deleted {
  position: absolute;
  top: 18px;
  right: 15px;
  border: none;
  outline: none;
  background: center no-repeat url(../../../images/element-deleted.svg);
  box-sizing: border-box;
  cursor: pointer;
  padding: 10px;
}

.element__deleted:hover {
  opacity: 0.6;
  transition-duration: 0.5s;
}
