@media (max-width: 375px) {
  .header__menu-mobile {
    width: 100%;
    height: 120px;
    margin: 0 auto;
    padding: 40px 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
